form {
  width: 500px;
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-bottom: 40px;
}
.form-label {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.btn {
  width: 100px;
  align-self: flex-end;
}

.req {
  border-color: red;
}
